@tailwind base;
@tailwind components;
@tailwind utilities;


/*Animation cloche*/
@keyframes bell {
  0%   { transform: rotate(0deg); }
  15%  { transform: rotate(15deg); }
  30%  { transform: rotate(-10deg); }
  45%  { transform: rotate(10deg); }
  60%  { transform: rotate(-5deg); }
  75%  { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.animate-bell {
  animation: bell 1s ease-in-out infinite;
  transform-origin: top center; /* pivot sur le haut de l’icône pour effet cloche */
}
